
  .advertise {
    flex: 0.3;
  }
  .advertise-input {
    display: flex;
    align-items: center;
    background-color: #e6ecf0;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .advertise-input > input {
    border: none;
    background-color: #e6ecf0;
  }
  .advertise-searchIcon{
    color: gray;
  }
  .advertise-advertiseContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  .advertise-advertiseContainer > h2 {
    font-size: 18px;
    font-weight: 800;
  }
  
  
  