.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 25px 10px;
}

.sidebarOption:hover {
    background-color: #e0ccec97;
    border-radius: 30px;
    color: var(--theme-color);
    transition: color 100ms ease-out;
}
.sidebarOption > .MuiSvgIcon-root {
   padding: 20px;
    
}


.sidebarOption > h4 {
    font-weight: 700;
    font-size: 20px;
    
    
}

.sidebar {
    border-right: 1px solid rgb(235, 235, 235);
    flex: 0.3;
   min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
