.newsfeed-container {
  
    border-left: 1px solid rgb(235, 235, 235);
    border-right: 1px solid rgb(235, 235, 235);
    height: 100vh;
    flex: 0.4;
    max-width: 692px;
    min-width: fit-content;
    overflow-y: scroll;
}
.newsfeed-container::-webkit-scrollbar {
    display: none;
  }
  
.newsfeed-header {
    /* color: #d9d9d9; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.header-icon {
    height: 1rem;
}
.animation-hover {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsfeed-header h2 {
    font-size: 20px;
    font-weight: bold;
}
.animation-hover:hover {
    background: rgb(99, 88, 88);
    opacity: 10;
    border-radius: 100%;
    padding: 5px;
    transition: 200ms ease-out;
}

